## Mapping the Data

In [2]:
import pandas as pd
import requests

In [18]:
# pip install geopandas
# pip install geopy

In [6]:
import geopandas as gpd

In [7]:
pip install geopy

Collecting geopy
  Downloading geopy-2.3.0-py3-none-any.whl (119 kB)
     |████████████████████████████████| 119 kB 6.4 MB/s eta 0:00:01
Collecting geographiclib<3,>=1.52
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 29.4 MB/s eta 0:00:01
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.3.0
Note: you may need to restart the kernel to use updated packages.

In [13]:
import geopy
from geopy.geocoders import Nominatim

In [14]:
# Test geocoding, reference: https://towardsdatascience.com/geocode-with-python-161ec1e62b89
locator = Nominatim(user_agent= "myGeocoder")
location = locator.geocode("Champ de Mars, Paris, France")

In [16]:
print("Latitude = {}, Longitude = {}".format(location.latitude, location.longitude))

Latitude = 48.85614465, Longitude = 2.297820393322227

In [17]:
# Geocoding addresses from Pandas
# Import citation_st_cleaning_5yr.csv
st_cleaning_5yr = pd.read_csv('citation_st_cleaning_5yr.csv',
                              dtype={'Citation Number': object} ,
                              parse_dates=['Citation Issued DateTime'])

In [20]:
st_cleaning_5yr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2376891 entries, 0 to 2376890
Data columns (total 15 columns):
 #   Column                        Dtype
---  ------                        -----
 0   Citation Number               object
 1   Citation Issued DateTime      datetime64[ns]
 2   Violation                     object
 3   Violation Description         object
 4   Citation Location             object
 5   Vehicle Plate State           object
 6   Vehicle Plate                 object
 7   Fine Amount                   float64
 8   Date Added                    object
 9   geom                          object
 10  Neighborhoods                 float64
 11  SF Find Neighborhoods         float64
 12  Current Police Districts      float64
 13  Current Supervisor Districts  float64
 14  Analysis Neighborhoods        float64
dtypes: datetime64[ns](1), float64(6), object(8)
memory usage: 272.0+ MB

In [30]:
# Drop unused columns
st_cleaning_map = st_cleaning_5yr.drop(st_cleaning_5yr.loc[:, 'Neighborhoods':'Current Supervisor Districts'].columns,axis = 1)
del st_cleaning_map['Violation']
del st_cleaning_map['Vehicle Plate State']
del st_cleaning_map['Vehicle Plate']
st_cleaning_map.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2376891 entries, 0 to 2376890
Data columns (total 8 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Citation Number           object
 1   Citation Issued DateTime  datetime64[ns]
 2   Violation Description     object
 3   Citation Location         object
 4   Fine Amount               float64
 5   Date Added                object
 6   geom                      object
 7   Analysis Neighborhoods    float64
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 145.1+ MB

In [31]:
# Add new column with complete address for 'Citation Location' for geocoding
st_cleaning_map['Location_new'] = st_cleaning_map['Citation Location'].astype(str) + ', San Francisco, USA'

In [37]:
st_cleaning_map.head()

,Citation Number,Citation Issued DateTime,Violation Description,Citation Location,Fine Amount,Date Added,geom,Analysis Neighborhoods,Location_new
0,949367440,2022-03-23 02:33:00,STR CLEAN,720 TURK ST,84.0,11/16/2022 12:00:00 AM,NaN,NaN,"720 TURK ST, San Francisco, USA"
1,949375335,2022-03-24 09:30:00,STR CLEAN,19 RIVAS AVE,84.0,11/16/2022 12:00:00 AM,NaN,NaN,"19 RIVAS AVE, San Francisco, USA"
2,949395613,2022-03-21 13:05:00,STR CLEAN,1405 BAKER ST,84.0,11/16/2022 12:00:00 AM,NaN,NaN,"1405 BAKER ST, San Francisco, USA"
3,949411481,2022-03-29 00:15:00,STR CLEAN,420 NATOMA ST,84.0,11/16/2022 12:00:00 AM,NaN,NaN,"420 NATOMA ST, San Francisco, USA"
4,949412855,2022-03-22 12:25:00,STR CLEAN,717 WALLER ST,84.0,11/16/2022 12:00:00 AM,NaN,NaN,"717 WALLER ST, San Francisco, USA"

In [41]:
st_cleaning_map_2022 = st_cleaning_map[st_cleaning_map['Citation Issued DateTime'] >= '2022-01-01'].copy()
st_cleaning_map_2022.sort_values(by=['Citation Issued DateTime']).reset_index(drop=True)

,Citation Number,Citation Issued DateTime,Violation Description,Citation Location,Fine Amount,Date Added,geom,Analysis Neighborhoods,Location_new
0,946829295,2022-01-02 00:42:00,STR CLEAN,377 KING ST,85.0,01/09/2022 12:00:00 AM,NaN,NaN,"377 KING ST, San Francisco, USA"
1,946789082,2022-01-02 00:49:00,STR CLEAN,521 EMBARCADERO SOUTH,85.0,01/27/2022 12:00:00 AM,NaN,NaN,"521 EMBARCADERO SOUTH, San Francisco, USA"
2,946829321,2022-01-02 02:05:00,STR CLEAN,1131 MISSION ST,85.0,04/04/2022 12:00:00 AM,NaN,NaN,"1131 MISSION ST, San Francisco, USA"
3,946789104,2022-01-02 02:05:00,STR CLEAN,1147 MISSION ST,85.0,09/11/2022 12:00:00 AM,NaN,NaN,"1147 MISSION ST, San Francisco, USA"
4,946789093,2022-01-02 02:05:00,STR CLEAN,1149 MISSION ST,85.0,07/14/2022 12:00:00 AM,NaN,NaN,"1149 MISSION ST, San Francisco, USA"
...,...,...,...,...,...,...,...,...,...
440661,957285862,2022-11-16 12:44:00,STR CLEAN,1601 BRODERICK STREET,87.0,11/22/2022 12:00:00 AM,NaN,NaN,"1601 BRODERICK STREET, San Francisco, USA"
440662,957212222,2022-11-16 12:45:00,STR CLEAN,1501 BRODERICK ST,87.0,11/22/2022 12:00:00 AM,NaN,NaN,"1501 BRODERICK ST, San Francisco, USA"
440663,957148264,2022-11-16 13:12:00,STR CLEAN,1160 REVERE AVENUE,87.0,11/22/2022 12:00:00 AM,NaN,NaN,"1160 REVERE AVENUE, San Francisco, USA"
440664,957240712,2022-11-16 13:18:00,STR CLEAN,2444 15TH AVE,87.0,11/22/2022 12:00:00 AM,NaN,NaN,"2444 15TH AVE, San Francisco, USA"
440665,957169135,2022-11-17 03:09:00,STR CLEAN,1155 HOWARD ST,87.0,11/22/2022 12:00:00 AM,NaN,NaN,"1155 HOWARD ST, San Francisco, USA"

In [43]:
st_cleaning_map_2022.to_csv('st_cleaning_2022.csv', index=False)

In [42]:
# Reference: https://towardsdatascience.com/geocode-with-python-161ec1e62b89
# Failed
from geopy.extra.rate_limiter import RateLimiter

# 1 - conveneint function to delay between geocoding calls
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
# 2- - create location column
st_cleaning_map_2022['location'] = st_cleaning_map_2022['Location_new'].apply(geocode)
# 3 - create longitude, laatitude and altitude from location column (returns tuple)
st_cleaning_map_2022['point'] = st_cleaning_map_2022['location'].apply(lambda loc: tuple(loc.point) if loc else None)
# 4 - split point column into latitude, longitude and altitude columns
st_cleaning_map_2022[['latitude', 'longitude', 'altitude']] = pd.DataFrame(st_cleaning_map_2022['point'].tolist(), index=df.index)

RateLimiter caught an error, retrying (0/2 tries). Called with (*('1511 CALIFORNIA ST, San Francisco, USA',), **{}).
Traceback (most recent call last):
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/urllib3/connectionpool.py", line 449, in _make_request
    six.raise_from(e, None)
  File "<string>", line 3, in raise_from
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/urllib3/connectionpool.py", line 444, in _make_request
    httplib_response = conn.getresponse()
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/http/client.py", line 1377, in getresponse
    response.begin()
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/http/client.py", line 320, in begin
    version, status, reason = self._read_status()
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/http/client.py", line 281, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/socket.py", line 704, in readinto
    return self._sock.recv_into(b)
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/ssl.py", line 1241, in recv_into
    return self.read(nbytes, buffer)
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/ssl.py", line 1099, in read
    return self._sslobj.read(len, buffer)
socket.timeout: The read operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/urllib3/connectionpool.py", line 703, in urlopen
    httplib_response = self._make_request(
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/urllib3/connectionpool.py", line 451, in _make_request
    self._raise_timeout(err=e, url=url, timeout_value=read_timeout)
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/urllib3/connectionpool.py", line 340, in _raise_timeout
    raise ReadTimeoutError(
urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/requests/adapters.py", line 440, in send
    resp = conn.urlopen(
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/urllib3/connectionpool.py", line 813, in urlopen
    return self.urlopen(
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/urllib3/connectionpool.py", line 813, in urlopen
    return self.urlopen(
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/urllib3/connectionpool.py", line 785, in urlopen
    retries = retries.increment(
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/urllib3/util/retry.py", line 592, in increment
    raise MaxRetryError(_pool, url, error or ResponseError(cause))
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=1511+CALIFORNIA+ST%2C+San+Francisco%2C+USA&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/geopy/adapters.py", line 457, in _request
    resp = self.session.get(url, timeout=timeout, headers=headers)
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/requests/sessions.py", line 542, in get
    return self.request('GET', url, **kwargs)
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/requests/sessions.py", line 529, in request
    resp = self.send(prep, **send_kwargs)
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/requests/sessions.py", line 645, in send
    r = adapter.send(request, **kwargs)
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/requests/adapters.py", line 519, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=1511+CALIFORNIA+ST%2C+San+Francisco%2C+USA&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/geopy/extra/rate_limiter.py", line 136, in _retries_gen
    yield i  # Run the function.
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/geopy/extra/rate_limiter.py", line 274, in __call__
    res = self.func(*args, **kwargs)
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/geopy/geocoders/nominatim.py", line 297, in geocode
    return self._call_geocoder(url, callback, timeout=timeout)
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/geopy/geocoders/base.py", line 368, in _call_geocoder
    result = self.adapter.get_json(url, timeout=timeout, headers=req_headers)
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/geopy/adapters.py", line 447, in get_json
    resp = self._request(url, timeout=timeout, headers=headers)
  File "/Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages/geopy/adapters.py", line 469, in _request
    raise GeocoderUnavailable(message)
geopy.exc.GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=1511+CALIFORNIA+ST%2C+San+Francisco%2C+USA&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

KeyboardInterrupt: