# Advanced Coding Final Project

Written by Jiyun Tsai
November 5th, 2022

## Import Data

In [5]:
# Import data using pandas

import pandas as pd
import requests

In [2]:
# pip install sodapy

Requirement already satisfied: sodapy in /Users/jiyuntsai/opt/anaconda3/envs/data_viz/lib/python3.9/site-packages (2.2.0)
Requirement already satisfied: requests>=2.28.1 in /Users/jiyuntsai/opt/anaconda3/envs/data_viz/lib/python3.9/site-packages (from sodapy) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/jiyuntsai/opt/anaconda3/envs/data_viz/lib/python3.9/site-packages (from requests>=2.28.1->sodapy) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jiyuntsai/opt/anaconda3/envs/data_viz/lib/python3.9/site-packages (from requests>=2.28.1->sodapy) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/jiyuntsai/opt/anaconda3/envs/data_viz/lib/python3.9/site-packages (from requests>=2.28.1->sodapy) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/jiyuntsai/opt/anaconda3/envs/data_viz/lib/python3.9/site-packages (from requests>=2.28.1->sodapy) (3.4)
Note: you may need to restart the kernel to use updated packages.

In [4]:
# Get API code instructions from (https://dev.socrata.com/foundry/data.sfgov.org/ab4h-6ztd)

# import pandas as pd
# from sodapy import Socrata


# client = Socrata("data.sfgov.org",
#                  "UBJcOCUaACnecZ7XJXpUT4tiG",
#                  username="jiyun_tsai@berkeley.edu",
#                  password="Password1022!")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
# results = client.get("ab4h-6ztd", limit="") ## how to get full data without limits?

# Convert to pandas DataFrame
# citation = pd.DataFrame.from_records(results)

In [6]:
# Read the file into Python
url = 'https://data.sfgov.org/api/views/ab4h-6ztd/rows.csv?accessType=DOWNLOAD'
r = requests.get(url, allow_redirects=False)

# Write the content of the request into a file called 'parking_citation.csv'
open('parking_citation.csv', 'wb').write(r.content)

2790356814

In [7]:
# Import this .csv file to dataframe named "citation"
citation = pd.read_csv('parking_citation.csv')

In [22]:
citation

,Citation Number,Citation Issued DateTime,Violation,Violation Description,Citation Location,Vehicle Plate State,Vehicle Plate,Fine Amount,Date Added,geom,Neighborhoods,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods
0,771857995,10/27/2009 03:36:00 PM,T32A.1,TWAWY ZN#1,669 MISSION ST,CA,6ANP484,83.0,10/27/2009 12:00:00 AM,POINT (-122.40131583199997 37.78670342300006),32.0,32.0,1.0,10.0,8.0
1,771104246,09/14/2009 11:05:00 AM,V5204A,REG TABS,7 GROVE ST,CA,5FEK647,63.0,09/14/2009 12:00:00 AM,POINT (-122.41511664599994 37.77876024500006),21.0,21.0,5.0,10.0,36.0
2,770561131,09/10/2009 03:30:00 PM,T202,PRK METER,2851 24TH ST,CA,6DEG966,53.0,09/10/2009 12:00:00 AM,POINT (-122.40919778399996 37.752743407000025),53.0,53.0,3.0,2.0,20.0
3,770024076,09/07/2009 03:21:00 PM,T202,PRK METER,417 BAY ST,CA,6DKY758,53.0,09/07/2009 12:00:00 AM,POINT (-122.41413599899994 37.80540600300003),106.0,106.0,6.0,3.0,23.0
4,770025093,09/09/2009 01:23:00 PM,T58A,BLK WHEELS,136 LAWTON ST,CA,4JTL645,48.0,09/09/2009 12:00:00 AM,POINT (-122.46446999799997 37.75869600400006),109.0,109.0,10.0,8.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19015251,955890320,11/02/2022 09:30:00 PM,V22500E,DRIVEWAY,4632 IRVING STREET,CA,5ULX532,108.0,11/12/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN
19015252,955325291,11/03/2022 11:00:00 PM,TRC7.2.25,RED ZONE,1070 POST ST,FL,858OAU,108.0,11/13/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN
19015253,956046582,11/03/2022 03:58:00 PM,V4000A,NO EV REG,1451 GREAT HWY,CA,NaN,209.0,11/13/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN
19015254,955554154,11/03/2022 02:27:00 PM,TRC7.2.20,RES/OT,2900 21ST ST,CA,8VZQ196,99.0,11/14/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN
19015255,955833281,11/04/2022 11:51:00 AM,TRC7.2.23B,MTR OUT DT,719 TERRY A FRANCOIS BLVD,CA,8XSC154,89.0,11/15/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
citation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19015256 entries, 0 to 19015255
Data columns (total 15 columns):
 #   Column                        Dtype
---  ------                        -----
 0   Citation Number               object
 1   Citation Issued DateTime      object
 2   Violation                     object
 3   Violation Description         object
 4   Citation Location             object
 5   Vehicle Plate State           object
 6   Vehicle Plate                 object
 7   Fine Amount                   float64
 8   Date Added                    object
 9   geom                          object
 10  Neighborhoods                 float64
 11  SF Find Neighborhoods         float64
 12  Current Police Districts      float64
 13  Current Supervisor Districts  float64
 14  Analysis Neighborhoods        float64
dtypes: float64(6), object(9)
memory usage: 2.1+ GB

In [46]:
# See 'Violation' types
citation['Violation'].value_counts()

TRC7.2.22     4730292
T37C          2397076
TRC7.2.23B    1313644
T202          1271179
TRC7.2.20     1123465
               ...
TC32.6.29           1
H20.1               1
TC32.6.26           1
BR2495.5C           1
T32.6.7             1
Name: Violation, Length: 305, dtype: int64

## Street Cleaning Data in 5 Years (2018-2022)
For street cleaning, the dataframe contains two codes in 'Violation' column: TRC7.2.22 and T37C, all data after 2018 use TRC7.2.22  
Filter dataframe before cleaning data for the whole dataframe is too large (19M rows of data)

*code description and more info could be found [here](https://www.sfmta.com/sites/default/files/reports-and-documents/2022/10/fy_2023_fees_and_fines_effective_7.1.22_1.pdf)

### Filter and Clean

In [27]:
# Filter data of street cleaning 'TRC7.2.22' 
citation_st_cleaning = citation[citation['Violation']== 'TRC7.2.22'].copy()

In [30]:
# Convert dtype for 'Citation Issued DateTime'
citation_st_cleaning['Citation Issued DateTime'] = pd.to_datetime(citation_st_cleaning['Citation Issued DateTime'])

In [38]:
# Filter data from 2018 to 2022 from citation_st_cleaning dataframe
citation_st_cleaning_5yr = citation_st_cleaning[citation_st_cleaning['Citation Issued DateTime'] >= '2018-01-01'].copy()

In [41]:
# Sort data by date and time
citation_st_cleaning_5yr.sort_values(by=['Citation Issued DateTime'])

,Citation Number,Citation Issued DateTime,Violation,Violation Description,Citation Location,Vehicle Plate State,Vehicle Plate,Fine Amount,Date Added,geom,Neighborhoods,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods
13830642,892597786,2018-01-02 00:03:00,TRC7.2.22,STR CLEAN,7 04TH ST,CA,8AGE461,73.0,10/15/2021 12:00:00 AM,POINT (-122.46585481399995 37.788244665000036),4.0,4.0,8.0,6.0,11.0
13873488,892597790,2018-01-02 00:08:00,TRC7.2.22,STR CLEAN,869 FOLSOM ST,CA,6TZE100,73.0,04/30/2020 12:00:00 AM,POINT (-122.40263889499994 37.78079616600007),32.0,32.0,1.0,10.0,34.0
13838191,892536632,2018-01-02 00:08:00,TRC7.2.22,STR CLEAN,333 08TH ST,CA,7XSH956,73.0,09/24/2018 12:00:00 AM,POINT (-122.03654390799994 38.24835797800006),NaN,NaN,NaN,NaN,NaN
13847383,892597801,2018-01-02 00:09:00,TRC7.2.22,STR CLEAN,839 FOLSOM ST,CA,7XBP248,73.0,06/16/2018 12:00:00 AM,POINT (-122.40196506399997 37.781329424000035),32.0,32.0,1.0,10.0,34.0
13623810,892257855,2018-01-02 00:10:00,TRC7.2.22,STR CLEAN,225 TOWNSEND ST,CA,6CWY869,73.0,04/12/2021 12:00:00 AM,POINT (-122.39345305299997 37.77822802800006),34.0,34.0,1.0,10.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2842084,956927834,2022-11-09 13:00:00,TRC7.2.22,STR CLEAN,627 COLBY ST,GA,XRB994,87.0,11/15/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN
2890073,957012383,2022-11-09 13:07:00,TRC7.2.22,STR CLEAN,819 44TH AVE,OH,GHQ3025,87.0,11/15/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN
2837208,956991781,2022-11-09 13:08:00,TRC7.2.22,STR CLEAN,1597 QUESADA AVE,IN,3266636,87.0,11/15/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN
2855117,956900921,2022-11-09 13:12:00,TRC7.2.22,STR CLEAN,1190 REVERE AVE,OR,8VOP539,87.0,11/15/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN
2890587,957012420,2022-11-09 13:13:00,TRC7.2.22,STR CLEAN,402 45TH AVE,ID,1A240PG,87.0,11/15/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
# Check duplicates
citation_st_cleaning_5yr.nunique()

Citation Number                 2366611
Citation Issued DateTime         617529
Violation                             1
Violation Description                 1
Citation Location                598712
Vehicle Plate State                  99
Vehicle Plate                    967201
Fine Amount                          13
Date Added                         1234
geom                             245357
Neighborhoods                       117
SF Find Neighborhoods               117
Current Police Districts             10
Current Supervisor Districts         11
Analysis Neighborhoods               41
dtype: int64

In [43]:
len(citation_st_cleaning_5yr) ## there are no duplicated rows for 'Citation Number'

2366611

In [44]:
# Export filtered and cleaned dataframe as .csv for future analysis, data as of November 15, 2022
citation_st_cleaning_5yr.to_csv('citation_st_cleaning_5yr.csv', index=False)

### Analysis and Visualizing

In [47]:
pip install altair

Collecting altair
  Using cached altair-4.2.0-py3-none-any.whl (812 kB)
Requirement already satisfied: entrypoints in /Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages (from altair) (0.4)
Requirement already satisfied: pandas>=0.18 in /Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages (from altair) (1.4.2)
Requirement already satisfied: jinja2 in /Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages (from altair) (2.11.3)
Requirement already satisfied: numpy in /Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages (from altair) (1.21.5)
Requirement already satisfied: jsonschema>=3.0 in /Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages (from altair) (4.4.0)
Requirement already satisfied: toolz in /Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages (from altair) (0.11.2)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in /Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=3.0->altair) (21.4.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.18->altair) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.18->altair) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.18->altair) (1.16.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/jiyuntsai/opt/anaconda3/lib/python3.9/site-packages (from jinja2->altair) (2.0.1)
Installing collected packages: altair
Successfully installed altair-4.2.0
Note: you may need to restart the kernel to use updated packages.

In [79]:
import pandas as pd
import altair as alt

In [64]:
# Import citation_st_cleaning_5yr.csv
st_cleaning_5yr = pd.read_csv('citation_st_cleaning_5yr.csv',
                              dtype={'Citation Number': object} ,
                              parse_dates=['Citation Issued DateTime'])

In [65]:
st_cleaning_5yr

,Citation Number,Citation Issued DateTime,Violation,Violation Description,Citation Location,Vehicle Plate State,Vehicle Plate,Fine Amount,Date Added,geom,Neighborhoods,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods
0,894375451,2018-02-20 10:15:00,TRC7.2.22,STR CLEAN,3898 WASHINGTON ST,CA,ELBA227,73.0,08/10/2021 12:00:00 AM,POINT (-122.45708101499997 37.788961003000054),10.0,10.0,8.0,6.0,31.0
1,895929086,2018-03-29 09:35:00,TRC7.2.22,STR CLEAN,812 SILLIMAN ST,CA,7TGY978,73.0,08/10/2021 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN
2,938910103,2021-05-03 12:13:00,TRC7.2.22,STR CLEAN,1820 25TH ST,CA,6HKN775,83.0,08/08/2021 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN
3,900852466,2018-08-13 08:24:00,TRC7.2.22,STR CLEAN,173 ARKANSAS ST,CA,56907K2,76.0,02/13/2022 12:00:00 AM,POINT (-122.39854476899995 37.76402533000004),54.0,54.0,1.0,9.0,26.0
4,900915735,2018-08-17 09:40:00,TRC7.2.22,STR CLEAN,224 GARFIELD ST,CA,7T62119,76.0,02/13/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2366606,956011943,2022-10-13 08:57:00,TRC7.2.22,STR CLEAN,450 HAYES ST,CA,7TQF439,87.0,11/10/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN
2366607,956034936,2022-10-12 00:38:00,TRC7.2.22,STR CLEAN,580 YORK ST,CA,8XWY238,87.0,11/10/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN
2366608,956035183,2022-10-12 02:12:00,TRC7.2.22,STR CLEAN,801 MINNESOTA ST,CA,5JRJ270,87.0,11/10/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN
2366609,956050443,2022-10-15 04:05:00,TRC7.2.22,STR CLEAN,1015 KEARNY ST,CA,7ZCC723,87.0,11/10/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN
2366610,955639215,2022-10-21 06:17:00,TRC7.2.22,STR CLEAN,1234 FLORIDA ST,CA,N696C0,87.0,11/10/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
st_cleaning_5yr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2366611 entries, 0 to 2366610
Data columns (total 15 columns):
 #   Column                        Dtype
---  ------                        -----
 0   Citation Number               object
 1   Citation Issued DateTime      datetime64[ns]
 2   Violation                     object
 3   Violation Description         object
 4   Citation Location             object
 5   Vehicle Plate State           object
 6   Vehicle Plate                 object
 7   Fine Amount                   float64
 8   Date Added                    object
 9   geom                          object
 10  Neighborhoods                 float64
 11  SF Find Neighborhoods         float64
 12  Current Police Districts      float64
 13  Current Supervisor Districts  float64
 14  Analysis Neighborhoods        float64
dtypes: datetime64[ns](1), float64(6), object(8)
memory usage: 270.8+ MB

In [111]:
# Extract year from 'Citation Issued DateTime'
st_cleaning_5yr['Issued Year'] = pd.DatetimeIndex(st_cleaning_5yr['Citation Issued DateTime']).year

In [112]:
# Check new column created, sorted by issued date and reset the index
st_cleaning_5yr.sort_values(['Citation Issued DateTime']).reset_index(drop=True)

,Citation Number,Citation Issued DateTime,Violation,Violation Description,Citation Location,Vehicle Plate State,Vehicle Plate,Fine Amount,Date Added,geom,Neighborhoods,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods,Issued Year
0,892597786,2018-01-02 00:03:00,TRC7.2.22,STR CLEAN,7 04TH ST,CA,8AGE461,73.0,10/15/2021 12:00:00 AM,POINT (-122.46585481399995 37.788244665000036),4.0,4.0,8.0,6.0,11.0,2018
1,892597790,2018-01-02 00:08:00,TRC7.2.22,STR CLEAN,869 FOLSOM ST,CA,6TZE100,73.0,04/30/2020 12:00:00 AM,POINT (-122.40263889499994 37.78079616600007),32.0,32.0,1.0,10.0,34.0,2018
2,892536632,2018-01-02 00:08:00,TRC7.2.22,STR CLEAN,333 08TH ST,CA,7XSH956,73.0,09/24/2018 12:00:00 AM,POINT (-122.03654390799994 38.24835797800006),NaN,NaN,NaN,NaN,NaN,2018
3,892597801,2018-01-02 00:09:00,TRC7.2.22,STR CLEAN,839 FOLSOM ST,CA,7XBP248,73.0,06/16/2018 12:00:00 AM,POINT (-122.40196506399997 37.781329424000035),32.0,32.0,1.0,10.0,34.0,2018
4,892257855,2018-01-02 00:10:00,TRC7.2.22,STR CLEAN,225 TOWNSEND ST,CA,6CWY869,73.0,04/12/2021 12:00:00 AM,POINT (-122.39345305299997 37.77822802800006),34.0,34.0,1.0,10.0,4.0,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2366606,956927834,2022-11-09 13:00:00,TRC7.2.22,STR CLEAN,627 COLBY ST,GA,XRB994,87.0,11/15/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,2022
2366607,957012383,2022-11-09 13:07:00,TRC7.2.22,STR CLEAN,819 44TH AVE,OH,GHQ3025,87.0,11/15/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,2022
2366608,956991781,2022-11-09 13:08:00,TRC7.2.22,STR CLEAN,1597 QUESADA AVE,IN,3266636,87.0,11/15/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,2022
2366609,956900921,2022-11-09 13:12:00,TRC7.2.22,STR CLEAN,1190 REVERE AVE,OR,8VOP539,87.0,11/15/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,2022
2366610,957012420,2022-11-09 13:13:00,TRC7.2.22,STR CLEAN,402 45TH AVE,ID,1A240PG,87.0,11/15/2022 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,2022

#### How many street cleaning citations were given each year from 2018-2022?
Very much similar each year (year 2022 is not completed yet)

In [118]:
# Count citation numbers by year (note: 'Issued Year' here is not a column)
st_cleaning_year_count = st_cleaning_5yr.groupby(['Issued Year']).count()
st_cleaning_year_count = st_cleaning_year_count[['Citation Number']].copy()
st_cleaning_year_count = st_cleaning_year_count.reset_index()
st_cleaning_year_count

   Issued Year  Citation Number
0         2018           518231
1         2019           491695
2         2020           392716
3         2021           533579
4         2022           430390

In [140]:
# Visualize the table
alt.Chart(st_cleaning_year_count,
    width=400,
    height=200).mark_line(color='darkolivegreen').encode(
    x=alt.X('Issued Year:O', axis=alt.Axis(labelAngle=0)),
    y=alt.Y('Citation Number',title='Citation Count') ## change format to 100K?
).properties(
    title='Street Cleaning Citation Count from 2018-2022'
)

alt.Chart(...)

#### Take closer look at citation count each month

In [ ]:
st_cleaning_month_count = st_cleaning_5yr.groupby([pd.Grouper(key='Citation Issued DateTime', axis=0, freq='M'), 'Violation']).count()[['Citation Number']].reset_index()
st_cleaning_month_count

TypeError: groupby() got an unexpected keyword argument 'freq'

#### What about total fine each year for street cleaning violations?

#### What about months?

In [ ]:
# Reference: drop rows or columns: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html
# syntax: DataFrame.drop(labels=None, *, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')